{%load static %}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Fire Detection </title>
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="{% static "css/bootstrap.min.css" %}"rel="stylesheet">
    <link href="{% static "css/sticky-menu.css" %}" rel="stylesheet">



<!-- Ajax section -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">


function getAllFires() {
                        $.get('/app/fires/', function(data){
                            fires = data.fires;
                            var table = $('#fireTable')
                            var row1= $("<tr/>")
                            $("#fireTable tr").remove();
                            row1.append($("<td/>").append('<h4>Date</h4>'));
                            row1.append($("<td/>").append('<h4>Content</h4>'));
                            table.append(row1);
                            for (var i = 0; i < fires.length; i++) {
                                var row = $("<tr/>");
                                row.append($("<td/>").append('<h6>' + fires[i].date + '</h6>'));
                                row.append($("<td/>").append('<h6>' + fires[i].content + '</h6>'));
                                table.append(row);
                            }
                        });
                    }

var myVar;    
function doPeriod(){
                    getAllFires()
                    myVar = setTimeout(doPeriod, 1000);
}

$(document).ready(function(){
                            doPeriod();
                        });

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Welcome</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#Fires"> Fires Detected </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whatwedo"> NewsLetter </a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>
    <!-- Welcome   -->
    <section id="welcome" class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Fire Detection Company</h1>
                    <p>We create IOT devices to Fire Detection and Extintion and notify the correspondent users.</p>

					<p>&nbsp;</p>
          <img src="{% static 'images/fire.JPG' %}" alt="Italian Trulli" style="width:500px;height:500px">
          <p> </p>
          <h3> </h3>
          <a class="btn btn-primary page-scroll" href="#about">Click To Scroll Down!</a>
             
               </div>
            </div>
            
        </div>

    </section>


    <!-- About -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About</h1>
                </div>
            </div>
        </div>
        <p>We create IOT devices to Fire Detection and Extintion and notify the correspondent users.</p>
        <p> Users have an application with all information about their own devices, and users can check the actual conditions and in case that there is fire, we notify users. </p>
        <p> In order to communicate between sensors and server/application, we use SigFox. </p>
                  <img src="{% static 'images/sigfox.jpg' %}" alt="Italian Trulli" style="width:400px;height:400px">


    </section>

          <!-- Fire section -->
    <section id="Fires" class="fire-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Fires Detected by our Devices</h1>
            
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0" id='fireTable'>
                                 <tbody>    
                                     <div class="fire">
                                         <tr h>
                                             <td  >
                                             <h6>{{ fire.date}}</h6>
                                             </td>
                                             <td >
                                             <h6>{{ fire.content }}</h6>
                                             </td>
                                        </tr>
                                     </div>
                                 </tbody>
                            </table>
             </div>


                </div>
            </div>
        </div>
        

    </section>



    <!-- What we do Section -->
    <section id="whatwedo" class="whatwedo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>NewsLetter</h1>
                    <h3>If you wanna receive notifications or informations from our product, put your e-mail below: </h3>

                    <form  method="post" action="{% url 'users:mail' %}" >
                        {% csrf_token %}
                        <h3> Your e-mail:
                     <input type="text" name="email"/>
                     <input type="submit"  /> </h3>
                    </form>

                </div>
            </div>
        </div>
    </section>



    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <h2> leandro.pereira@tecnico.ulisboa.pt <i class="fa fa-address-book"></i> </h2>
                     <h2> ruben.gomes@tecnico.ulisboa.pt <i class="fa fa-address-book"></i> </h2>

                </div>
            </div>
        </div>
    </section>

	<a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/sticky-menu.js"></script>

</body>

</html>
